.notify-notification {
    background-color: rgb(255, 255, 255);
    border: rgb(34, 65, 236) 2px solid;
    border-radius: 10px;
    padding: 5px;
    font-size: medium;
    width: 300px;
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px; 
    align-items: center;
    color: rgb(0, 0, 0);
}

.notify-notification > img {
    margin-right: 10px;
}
